{% load static %}
{% load widget_tweaks%}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ view.title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/others/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/main.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/others/iosoon-style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/others/iosoon-theme6.css' %}" />
    <link rel="shortcut icon" href="{% static 'assets/img/fav.png' %}" type="image/x-icon" />

</head>

<body>

    {% if user.is_authenticated %}
        {{ user.email }}
    {% endif %}

    {% if user.is_anonymous %}
        anonymous
    {% endif %}
    <div class="form-body">
        <div class="row">
            <div class="img-holder on-top">
                <div class="info-holder">
                    <img src="{% static 'assets/img/logo-simple.svg' %}" style="max-width: 50px;" alt="">
                    <img src="{% static 'assets/img/pictures/car-vector.svg' %}" alt="">
                </div>
            </div>
            <div class="form-holder custom-bg">
                <div class="form-content">
                    <div class="form-items">
                        <div class="form-row logo-social">
                            <div class="col-6">
                                <div class="website-logo-inside">
                                    <a href="/">
                                        <div class="logo">                                            
                                            <img class="logo-size" src="{% static 'assets/img/other_pages/logo-light.svg' %}"
                                                alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="other-links no-bg-icon">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a
                                        href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <h2 style="direction: rtl; text-align:right; color:white; margin-bottom:30px;"><b>پیش ثبت نام</b></h2>
                        <h3>به زودی همین جا افتخار همراهی شما تا مقصدهاتون را خواهیم داشت!</h3>
                        <p style="color:#ffd073;">سفر خود را به اشتراک بگذارید.</p>
                        <form class="form-row" method="POST">
                            {% csrf_token %}
                            {{ form.non_field_errors }}

                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field.errors }}
                                {{ hidden_field }}
                            {% endfor %}

                            {% for field in form.visible_fields %}
                                {% if forloop.first %}
                                    {% render_field field placeholder=field.label focus=true %}    
                                {% else %}
                                    {{ field.errors }}
                                    {% render_field field placeholder=field.label %}
                                    {{ field.help_text }}
                                {% endif %}
                            {% endfor %}
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn" style="margin-bottom: 70px;">ثبت نام کنید</button>
                            </div>
                        </form>
                        <!--
                        <h5>کسب و کار در تاریخ زیر شروع به فعالیت می کند.</h5>
                         <div class="time-counter form-row">
                            <div class="days count col">
                                <div class="num">38</div>
                                <div class="label">روز</div>
                            </div>
                            <div class="hours count col">
                                <div class="num">13</div>
                                <div class="label">ساعت</div>
                            </div>
                            <div class="minutes count col">
                                <div class="num">59</div>
                                <div class="label">دقیقه</div>
                            </div>
                            <div class="seconds count col">
                                <div class="num">30</div>
                                <div class="label">ثانیه</div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'assets/others/popper.min.js' %}"></script>
    <script src="{% static 'assets/others/main.js' %}"></script>
</body>

</html>