{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="copyright" content="S.A.G.E. Team" />
	<meta name="author" content="sepehr akbarzadeh" />

	<!-- Dynamic meta tags -->
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="robots" content="follow">
	<!-- <meta name="robots" content="index,nofollow" />
        <meta name="robots" content="index,follow" />
        <meta name="robots" content="noindex,nofollow" /> -->

	<title>سمارو | {{ view.title }}</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{% static 'assets/bootstrap-rtl/bootstrap-rtl.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/bootsnav-master/css/bootsnav.css' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css">
	<link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.min.css' %}/" />
	<link rel="stylesheet" href="../node_modules/animate.css/animate.min.css" />
	<link rel="stylesheet" href="../node_modules/hover.css/css/hover-min.css" />
	<link rel="stylesheet" href="{% static 'assets/owl-carousel/css/owl.carousel.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/owl-carousel/css/owl.theme.default.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/main.css' %}" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>

	
    {% include 'partial/nav.html' %}
    
    
    {% block body %}
        
    {% endblock body %}
        

	{% include 'partial/footer.html' %}
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{% static 'assets/bootsnav-master/js/bootsnav.js' %}"></script>

	<!-- Sticky jquery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>

	<!-- Fontawesome script -->
	<script src="{% static 'assets/fontawesome/js/all.min.js' %}"></script>

	<!-- Owl-carousel -->
	<script src="{% static 'assets/owl-carousel/js/owl.carousel.js' %}"></script>

	<!-- Vue JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<!-- main javascript -->
	<script src="{% static 'assets/main.js' %}"></script>

</body>

</html>