{% extends 'shared/dashboard.html' %}


{% block body %}
<div class="col-md-12">
    <div class="mt-35 panel-box">
        <h2 class="title">علاقه مندی های من</h2>
        <div class="row">
            <div class="col-md-5 col-md-push-1">
                <br>
                <ul class="list-unstyled mt-15">
                    <li style="position: relative;">
                        <label class="checkmark-wrapper">موسیقی
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li style="position: relative;">
                        <label class="checkmark-wrapper">کولر و سیستم سرمایشی
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li style="position: relative;">
                        <label class="checkmark-wrapper">راننده جوان
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 col-md-push-1">
                <br>
                <ul class="list-unstyled mt-15">
                    <li style="position: relative;">
                        <label class="checkmark-wrapper">خوش صحبت
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li style="position: relative;">
                        <label class="checkmark-wrapper">راننده با جنسیت یکسان با مسافر
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li style="position: relative;">
                        <label class="checkmark-wrapper">راننده امتیاز بالا
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                </ul>

            </div>
            <div class="clearfix"></div>
            <div class="col-md-2 col-md-push-9">
                <button class="mt-50 btn btn-primary btn-md btn-block">ذخیره تغییرات</button>
            </div>

        </div>

    </div>
</div>
{% endblock body %}