{% extends 'shared/dashboard.html' %}


{% block body %}
<div class="col-md-12">
    <div class="mt-35 panel-box">
        <h2 class="title">اعلان ها</h2>
        <div class="row">
            <div class="col-md-6">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-plus"></i></h3>
                    </div>
                    <div class="panel-body fa-num">
                        3 امتیاز به دلیل معرفی لینک به دوستان دریافت کردید
                    </div>
                </div>

                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-minus"></i></h3>
                    </div>
                    <div class="panel-body fa-num">
                        2 امتیاز به دلیل عدم رعایت مقررات سایت از شما کسر شد
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock body %}