{% extends 'shared/dashboard.html' %}
{% load static %}

{% block body %}
<div class="col-md-12">
    <div class="mt-35 panel-box">
        <h2 class="title">تغییر رمز عبور</h2>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="text-center">
                    <form action="" method="post">
                        <div class="form-row mt-15">
                            <label class="mr-5 mb-15" for="old_password">رمز عبور قبلی</label>
                            <input class="txtb" type="text" name="old_password" id="old_password" />
                        </div>
                        <div class="form-row mt-15">
                            <label class="mr-5 mb-15" for="new_password">رمز عبور جدید</label>
                            <input class="txtb" type="text" name="new_password" id="new_password" />
                        </div>
                        <div class="form-row mt-15">
                            <label class="mr-5 mb-15" for="confirm_password">تکرار رمز عبور</label>
                            <input class="txtb" type="text" name="confirm_password" id="confirm_password" />
                        </div>

                        <button type="submit" class="btn btn-block btn-primary btn-lg mt-50 mb-100">ذخیره</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <img class="img-responsive big-pic" src="{% static 'assets/img/pictures/credits-vector-01.svg' %}" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}