{% extends 'shared/dashboard.html' %}

{% block body %}
<div class="col-md-12">
    <div class="mt-35 panel-box">
        <h2 class="title">پشتیبانی</h2>
        <div class="accor-item mt-20">
            <div class="accor-wrapper">
                <div class="counter fa-num">1</div>
                <div class="content">
                    <a class="" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample">
                        جا گذاشتن بسته در خودرو
                    </a>
                </div>
                <div class="arrow-box"><i class="fa fa-chevron-down"></i></div>
                <div class="clearfix"></div>
            </div>
            <div class="collapse" id="collapseExample">
                <div class="well mt-10">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis assumenda nesciunt
                    saepe vitae, voluptatem illo aperiam reprehenderit dolorem minima vero praesentium
                    illum. Quas quam hic suscipit et deserunt, asperiores nulla.
                </div>
            </div>
        </div>
        <div class="accor-item mt-20">
            <div class="accor-wrapper">
                <div class="counter fa-num">2</div>
                <div class="content">
                    <a class="" role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false"
                        aria-controls="collapseExample2">
                        جا گذاشتن بسته در خودرو
                    </a>
                </div>
                <div class="arrow-box"><i class="fa fa-chevron-down"></i></div>
                <div class="clearfix"></div>
            </div>
            <div class="collapse" id="collapseExample2">
                <div class="well mt-10">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis assumenda nesciunt
                    saepe vitae, voluptatem illo aperiam reprehenderit dolorem minima vero praesentium
                    illum. Quas quam hic suscipit et deserunt, asperiores nulla.
                </div>
            </div>
        </div>
        <div class="accor-item mt-20">
            <div class="accor-wrapper">
                <div class="counter fa-num">3</div>
                <div class="content">
                    <a class="" role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false"
                        aria-controls="collapseExample3">
                        جا گذاشتن بسته در خودرو
                    </a>
                </div>
                <div class="arrow-box"><i class="fa fa-chevron-down"></i></div>
                <div class="clearfix"></div>
            </div>
            <div class="collapse" id="collapseExample3">
                <div class="well mt-10">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis assumenda nesciunt
                    saepe vitae, voluptatem illo aperiam reprehenderit dolorem minima vero praesentium
                    illum. Quas quam hic suscipit et deserunt, asperiores nulla.
                </div>
            </div>
        </div>
        <div class="accor-item mt-20">
            <div class="accor-wrapper">
                <div class="counter fa-num">5</div>
                <div class="content">
                    <a class="" role="button" data-toggle="collapse" href="#collapseExample4" aria-expanded="false"
                        aria-controls="collapseExample4">
                        جا گذاشتن بسته در خودرو
                    </a>
                </div>
                <div class="arrow-box"><i class="fa fa-chevron-down"></i></div>
                <div class="clearfix"></div>
            </div>
            <div class="collapse" id="collapseExample4">
                <div class="well mt-10">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis assumenda nesciunt
                    saepe vitae, voluptatem illo aperiam reprehenderit dolorem minima vero praesentium
                    illum. Quas quam hic suscipit et deserunt, asperiores nulla.
                </div>
            </div>
        </div>
        <div class="accor-item mt-20">
            <div class="accor-wrapper">
                <div class="counter fa-num">6</div>
                <div class="content">
                    <a class="" role="button" data-toggle="collapse" href="#collapseExample5" aria-expanded="false"
                        aria-controls="collapseExample5">
                        جا گذاشتن بسته در خودرو
                    </a>
                </div>
                <div class="arrow-box"><i class="fa fa-chevron-down"></i></div>
                <div class="clearfix"></div>
            </div>
            <div class="collapse" id="collapseExample5">
                <div class="well mt-10">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis assumenda nesciunt
                    saepe vitae, voluptatem illo aperiam reprehenderit dolorem minima vero praesentium
                    illum. Quas quam hic suscipit et deserunt, asperiores nulla.
                </div>
            </div>
        </div>
        <div class="accor-item mt-20">
            <div class="accor-wrapper">
                <div class="counter fa-num">7</div>
                <div class="content">
                    <a class="" role="button" data-toggle="collapse" href="#collapseExample6" aria-expanded="false"
                        aria-controls="collapseExample6">
                        جا گذاشتن بسته در خودرو
                    </a>
                </div>
                <div class="arrow-box"><i class="fa fa-chevron-down"></i></div>
                <div class="clearfix"></div>
            </div>
            <div class="collapse" id="collapseExample6">
                <div class="well mt-10">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis assumenda nesciunt
                    saepe vitae, voluptatem illo aperiam reprehenderit dolorem minima vero praesentium
                    illum. Quas quam hic suscipit et deserunt, asperiores nulla.
                </div>
            </div>
        </div>
        <div class="accor-item mt-20">
            <div class="accor-wrapper">
                <div class="counter fa-num">8</div>
                <div class="content">
                    <a class="" role="button" data-toggle="collapse" href="#collapseExample7" aria-expanded="false"
                        aria-controls="collapseExample7">
                        جا گذاشتن بسته در خودرو
                    </a>
                </div>
                <div class="arrow-box"><i class="fa fa-chevron-down"></i></div>
                <div class="clearfix"></div>
            </div>
            <div class="collapse" id="collapseExample7">
                <div class="well mt-10">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis assumenda nesciunt
                    saepe vitae, voluptatem illo aperiam reprehenderit dolorem minima vero praesentium
                    illum. Quas quam hic suscipit et deserunt, asperiores nulla.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-push-10">
                <a href="" class="btn btn-block btn-primary mt-50 mb-30" data-toggle="modal" data-target="sendTicket"
                    id="sendTicketBtn">ارسال تیکت</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="sendTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info modal-header-fixer">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">فرم ارسال تیکت به پشتیبانی</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <h5>جاگذاشتن بسته در خودرو</h5>
                    <br />
                    <h5 class="text-right fa-num"><span id="charCount">0</span>/100</h5>
                    <textarea name="" id="msg_ticket" class="txtb" rows="5" required="required"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-6">
                    <button type="button" class="btn btn-block btn-danger" data-dismiss="modal">انصراف</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-block btn-primary">ارسال</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}


{% block scripts %}
<script>
    $("#sendTicketBtn").click(function () {
        $('#sendTicket').modal('show')
    });
</script>

<script>
    $(document).ready(function () {
        var characters_Limit = 100;
        $('#msg_ticket').keyup(function () {
            if ($(this).val().length > characters_Limit) {
                $(this).val($(this).val().substr(0, characters_Limit));
                $("msg_ticket").prop('disabled', true);
            }
            $('#charCount').text(this.value.replace(/{.*}/g, '').length);
        });
    });
</script>
{% endblock %}