{% load static %}

<footer>
    <div class="blue-box"></div>
    <img class="img-responsive" src="{% static 'assets/img/bg/bg-01.svg' %}" alt="">
    <div class="container-fluid intro">
        <div class="container">
            <div class="row">
                <div class="part-1 col-md-12 col-lg-8">
                    <h4>جهت دانلود اپلیکیشن از راه های زیر اقدام نمایید</h4>
                    <form class="form-inline text-center">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email_id" name="email_name" placeholder="ایمیل خود را وارد کنید" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">ارسال لینک</button>
                        </div>
                    </form>
                    <h4 class="or">و یا</h4>
                    <div class="mobile-systems">
                        <a class="yellow" href="#">ios</a>
                        <a class="blue" href="#">android</a>
                    </div>
                </div>
                <div class="part-2 col-md-12 col-lg-4">
                    <img src="{% static 'assets/img/pictures/application.svg' %}" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid section-2 hidden-sm hidden-xs">
        <div class="row">
            <h3>ما را در شبکه های اجتماعی دنبال کنید</h3>
            <div class="display-flex social-media">
                <a class="column text-center" href="#">
                    <img class="blue" src="{% static 'assets/img/icons/icon-aparat.svg' %}" alt="">
                    <img class="yellow" src="{% static 'assets/img/icons/icon-aparat-yellow.svg' %}" alt="">
                </a>
                <a class="column text-center" href="#">
                    <img class="blue" src="{% static 'assets/img/icons/icon-insta.svg' %}" alt="">
                    <img class="yellow" src="{% static 'assets/img/icons/icon-insta-yellow.svg' %}" alt=""></a>
                <a class="column text-center" href="#">
                    <img class="blue" src="{% static 'assets/img/icons/icon-facebook.svg' %}" alt="">
                    <img class="yellow" src="{% static 'assets/img/icons/icon-aparat-facebook-yellow.svg' %}" alt=""></a>
                <a class="column text-center" href="#">
                    <img class="blue" src="{% static 'assets/img/icons/icon-twitter.svg' %}" alt="">
                    <img class="yellow" src="{% static 'assets/img/icons/icon-twitter-yellow.svg' %}" alt=""></a>
                <a class="column text-center" href="#">
                    <img class="blue" src="{% static 'assets/img/icons/icon-telegram.svg' %}" alt="">
                    <img class="yellow" src="{% static 'assets/img/icons/icon-telegram-yellow.svg' %}" alt=""></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 info">
                        <div class="col-md-12 mb-20"><i class="fas fa-phone"></i><span>0990 541 0991</span></div>
                        <div class="col-md-12"><i class="fas fa-map-marker-alt"></i></div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4 companies">
                        <div class="col-md-4"><img class="img-responsive" src="{% static 'assets/img/icons/icon-insta-yellow.svg' %}"
                                alt=""></div>
                        <div class="col-md-4"><img class="img-responsive" src="{% static 'assets/img/icons/icon-insta-yellow.svg' %}"
                                alt=""></div>
                        <div class="col-md-4"><img class="img-responsive" src="{% static 'assets/img/icons/icon-insta-yellow.svg' %}"
                                alt=""></div>
                        <h5 class="col-md-12">ثبت شده در اداره کل ثبت شرکتها و مالکیت صنعتی</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <h3 class="text-center">copyright</h3>
    </div>
</footer>