@charset "UTF-8";
@font-face {
  font-family: 'irSansNum_black';
  font-style: normal;
  font-weight: 900;
  src: url("fonts/IRANSansWeb(FaNum)_Black.eot");
  src: url("fonts/IRANSansWeb(FaNum)_Black.eot#iefix") format("embedded-opentype");
  src: url("fonts/IRANSansWeb(FaNum)_Black.woff") format("woff");
  src: url("fonts/IRANSansWeb(FaNum)_Black.woff2") format("woff2");
  src: url("fonts/IRANSansWeb(FaNum)_Black.ttf") format("truetype"); }

@font-face {
  font-family: 'irSansNum_bold';
  font-style: normal;
  font-weight: bold;
  src: url("fonts/IRANSansWeb(FaNum)_Bold.eot");
  src: url("fonts/IRANSansWeb(FaNum)_Bold.eot#iefix") format("embedded-opentype");
  src: url("fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff");
  src: url("fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2");
  src: url("fonts/IRANSansWeb(FaNum)_Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'irSansNum_medium';
  font-style: normal;
  font-weight: 500;
  src: url("fonts/IRANSansWeb(FaNum)_Medium.eot");
  src: url("fonts/IRANSansWeb(FaNum)_Medium.eot#iefix") format("embedded-opentype");
  src: url("fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff");
  src: url("fonts/IRANSansWeb(FaNum)_Medium.woff2") format("woff2");
  src: url("fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'irSansNum_light';
  font-style: normal;
  font-weight: 300;
  src: url("fonts/IRANSansWeb(FaNum)_Light.eot");
  src: url("fonts/IRANSansWeb(FaNum)_Light.eot#iefix") format("embedded-opentype");
  src: url("fonts/IRANSansWeb(FaNum)_Light.woff") format("woff");
  src: url("fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2");
  src: url("fonts/IRANSansWeb(FaNum)_Light.ttf") format("truetype"); }

@font-face {
  font-family: 'irSansNum_ultralight';
  font-style: normal;
  font-weight: 200;
  src: url("fonts/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("fonts/IRANSansWeb(FaNum)_UltraLight.eot#iefix") format("embedded-opentype");
  src: url("fonts/IRANSansWeb(FaNum)_UltraLight.woff") format("woff");
  src: url("fonts/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2");
  src: url("fonts/IRANSansWeb(FaNum)_UltraLight.ttf") format("truetype"); }

@font-face {
  font-family: 'std_irSansNum_black';
  font-style: normal;
  font-weight: 900;
  src: url("fonts/IRANSansWeb_Black.eot");
  src: url("fonts/IRANSansWeb_Black.eot#iefix") format("embedded-opentype");
  src: url("fonts/IRANSansWeb_Black.woff") format("woff");
  src: url("fonts/IRANSansWeb_Black.woff2") format("woff2");
  src: url("fonts/IRANSansWeb_Black.ttf") format("truetype"); }

@font-face {
  font-family: 'std_irSansNum_bold';
  font-style: normal;
  font-weight: bold;
  src: url("fonts/IRANSansWeb_Bold.eot");
  src: url("fonts/IRANSansWeb_Bold.eot#iefix") format("embedded-opentype");
  src: url("fonts/IRANSansWeb_Bold.woff") format("woff");
  src: url("fonts/IRANSansWeb_Bold.woff2") format("woff2");
  src: url("fonts/IRANSansWeb_Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'std_irSansNum_medium';
  font-style: normal;
  font-weight: 500;
  src: url("fonts/IRANSansWeb_Medium.eot");
  src: url("fonts/IRANSansWeb_Medium.eot#iefix") format("embedded-opentype");
  src: url("fonts/IRANSansWeb_Medium.woff") format("woff");
  src: url("fonts/IRANSansWeb_Medium.woff2") format("woff2");
  src: url("fonts/IRANSansWeb_Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'std_irSansNum_light';
  font-style: normal;
  font-weight: 300;
  src: url("fonts/IRANSansWeb_Light.eot");
  src: url("fonts/IRANSansWeb_Light.eot#iefix") format("embedded-opentype");
  src: url("fonts/IRANSansWeb_Light.woff") format("woff");
  src: url("fonts/IRANSansWeb_Light.woff2") format("woff2");
  src: url("fonts/IRANSansWeb_Light.ttf") format("truetype"); }

@font-face {
  font-family: 'std_irSansNum_ultralight';
  font-style: normal;
  font-weight: 200;
  src: url("fonts/IRANSansWeb_UltraLight.eot");
  src: url("fonts/IRANSansWeb_UltraLight.eot#iefix") format("embedded-opentype");
  src: url("fonts/IRANSansWeb_UltraLight.woff") format("woff");
  src: url("fonts/IRANSansWeb_UltraLight.woff2") format("woff2");
  src: url("fonts/IRANSansWeb_UltraLight.ttf") format("truetype"); }

/*
This .scss loop will create "margin helpers" and "padding helpers" for use in your web projects.
It will generate several classes such as:
.m-r-10 which gives margin-right 10 pixels.
.m-r-15 gives MARGIN to the RIGHT 15 pixels.
.m-t-15 gives MARGIN to the TOP 15 pixels and so on.
.p-b-5 gives PADDING to the BOTTOM of 5 pixels
.p-l-40 gives PADDING to the LEFT of 40 pixels
The first letter is "m" or "p" for MARGIN or PADDING
Second letter is "t", "b", "l", or "r" for TOP, BOTTOM, LEFT, or RIGHT
Third letter is the number of spacing in pixels. Adjust the amounts generated by editing the $spaceamounts variable below.
*/
.error-tip {
  font-size: 11px;
  margin-right: 20px;
  margin-top: 5px; }

.error {
  color: #f65b50; }

.success {
  color: #3dc162; }

.warning {
  color: #ffae0d; }

.info {
  color: #29b6f6; }

.bg-light {
  background-color: #fff;
  color: #3f51b5; }

.bg-blue {
  background-color: #3f51b5;
  color: #fff; }

.bg-info {
  background-color: #29b6f6;
  color: #fff; }

.bg-primary {
  background-color: #3f51b5;
  color: #fff; }

.has-error {
  border: 1px solid #f65b50 !important; }

.has-warning {
  border: 1px solid #ffae0d !important; }

.has-success {
  border: 1px solid #3dc162 !important; }

.has-info {
  border: 1px solid #29b6f6 !important; }

.btn-primary {
  background-image: linear-gradient(to right, #31bef4, #1983ec);
  box-shadow: 5px 7px 16px -4px #888;
  border: none; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    outline: none; }

.btn-danger {
  background-image: linear-gradient(to right, #faa59f 5%, #f65b50 95%);
  box-shadow: 5px 7px 16px -4px #888;
  border: none; }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    outline: none; }

.btn-primary-hoverable {
  background-image: linear-gradient(to right, #31bef4, #1983ec);
  box-shadow: 5px 7px 16px -4px #888;
  border: none;
  transition: background-color 1s;
  position: relative; }
  .btn-primary-hoverable:hover, .btn-primary-hoverable:focus, .btn-primary-hoverable:active {
    outline: none; }
  .btn-primary-hoverable:hover {
    background-color: transparent;
    background-image: none;
    color: #1e325e; }
    .btn-primary-hoverable:hover:after {
      opacity: 1; }
  .btn-primary-hoverable:after {
    content: "";
    color: #fff;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    background-image: linear-gradient(45deg, rgba(41, 182, 246, 0.5), rgba(41, 182, 246, 0.9), rgba(41, 182, 246, 0.5), rgba(41, 182, 246, 0.9), rgba(41, 182, 246, 0.5));
    background-size: 800px 800px;
    background-position: 0px 0px;
    border-radius: 4px;
    animation: move 2s infinite linear;
    opacity: 0;
    transition: opacity 1s; }

@keyframes move {
  from {
    background-position: 0px 600px; }
  to {
    background-position: -800px 600px; } }

.btn-default {
  border: none;
  box-shadow: 5px 7px 16px -4px #888;
  color: #3f51b5; }

.btn-big {
  font-family: "irSansNum_bold";
  font-size: 16px;
  padding: 30px; }

.btn-danger-hoverable {
  background-image: linear-gradient(to right, #faa59f 5%, #f65b50 95%);
  box-shadow: 5px 7px 16px -4px #888;
  border: none;
  transition: background-color 1s;
  position: relative; }
  .btn-danger-hoverable:hover, .btn-danger-hoverable:focus, .btn-danger-hoverable:active {
    outline: none; }
  .btn-danger-hoverable:hover {
    background-color: transparent;
    background-image: none;
    color: #1e325e; }
    .btn-danger-hoverable:hover:after {
      opacity: 1; }
  .btn-danger-hoverable:after {
    content: "";
    color: #fff;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    background-image: linear-gradient(45deg, rgba(250, 165, 159, 0.5), rgba(250, 165, 159, 0.9), rgba(250, 165, 159, 0.5), rgba(250, 165, 159, 0.9), rgba(250, 165, 159, 0.5));
    background-size: 800px 800px;
    background-position: 0px 0px;
    border-radius: 4px;
    animation: move 2s infinite linear;
    opacity: 0;
    transition: opacity 1s; }

.mt-5 {
  margin-top: 5px !important; }

.pt-5 {
  padding-top: 5px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.ml-5 {
  margin-left: 5px !important; }

.pl-5 {
  padding-left: 5px !important; }

.mr-5 {
  margin-right: 5px !important; }

.pr-5 {
  padding-right: 5px !important; }

.mt-10 {
  margin-top: 10px !important; }

.pt-10 {
  padding-top: 10px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.ml-10 {
  margin-left: 10px !important; }

.pl-10 {
  padding-left: 10px !important; }

.mr-10 {
  margin-right: 10px !important; }

.pr-10 {
  padding-right: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.pt-15 {
  padding-top: 15px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.ml-15 {
  margin-left: 15px !important; }

.pl-15 {
  padding-left: 15px !important; }

.mr-15 {
  margin-right: 15px !important; }

.pr-15 {
  padding-right: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.pt-20 {
  padding-top: 20px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.ml-20 {
  margin-left: 20px !important; }

.pl-20 {
  padding-left: 20px !important; }

.mr-20 {
  margin-right: 20px !important; }

.pr-20 {
  padding-right: 20px !important; }

.mt-25 {
  margin-top: 25px !important; }

.pt-25 {
  padding-top: 25px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.pb-25 {
  padding-bottom: 25px !important; }

.ml-25 {
  margin-left: 25px !important; }

.pl-25 {
  padding-left: 25px !important; }

.mr-25 {
  margin-right: 25px !important; }

.pr-25 {
  padding-right: 25px !important; }

.mt-30 {
  margin-top: 30px !important; }

.pt-30 {
  padding-top: 30px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.ml-30 {
  margin-left: 30px !important; }

.pl-30 {
  padding-left: 30px !important; }

.mr-30 {
  margin-right: 30px !important; }

.pr-30 {
  padding-right: 30px !important; }

.mt-35 {
  margin-top: 35px !important; }

.pt-35 {
  padding-top: 35px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.pb-35 {
  padding-bottom: 35px !important; }

.ml-35 {
  margin-left: 35px !important; }

.pl-35 {
  padding-left: 35px !important; }

.mr-35 {
  margin-right: 35px !important; }

.pr-35 {
  padding-right: 35px !important; }

.mt-40 {
  margin-top: 40px !important; }

.pt-40 {
  padding-top: 40px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.ml-40 {
  margin-left: 40px !important; }

.pl-40 {
  padding-left: 40px !important; }

.mr-40 {
  margin-right: 40px !important; }

.pr-40 {
  padding-right: 40px !important; }

.mt-45 {
  margin-top: 45px !important; }

.pt-45 {
  padding-top: 45px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.pb-45 {
  padding-bottom: 45px !important; }

.ml-45 {
  margin-left: 45px !important; }

.pl-45 {
  padding-left: 45px !important; }

.mr-45 {
  margin-right: 45px !important; }

.pr-45 {
  padding-right: 45px !important; }

.mt-50 {
  margin-top: 50px !important; }

.pt-50 {
  padding-top: 50px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

.ml-50 {
  margin-left: 50px !important; }

.pl-50 {
  padding-left: 50px !important; }

.mr-50 {
  margin-right: 50px !important; }

.pr-50 {
  padding-right: 50px !important; }

.mt-75 {
  margin-top: 75px !important; }

.pt-75 {
  padding-top: 75px !important; }

.mb-75 {
  margin-bottom: 75px !important; }

.pb-75 {
  padding-bottom: 75px !important; }

.ml-75 {
  margin-left: 75px !important; }

.pl-75 {
  padding-left: 75px !important; }

.mr-75 {
  margin-right: 75px !important; }

.pr-75 {
  padding-right: 75px !important; }

.mt-100 {
  margin-top: 100px !important; }

.pt-100 {
  padding-top: 100px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.pb-100 {
  padding-bottom: 100px !important; }

.ml-100 {
  margin-left: 100px !important; }

.pl-100 {
  padding-left: 100px !important; }

.mr-100 {
  margin-right: 100px !important; }

.pr-100 {
  padding-right: 100px !important; }

body {
  color: #1e325e;
  font-family: "std_irSansNum_light";
  background-color: #efefef;
  font-size: 16px; }

.relative {
  position: relative; }

a:hover {
  text-decoration: none; }

.display-flex {
  display: flex;
  flex-direction: row; }

nav.site {
  padding: 19px 0;
  background-color: #ebf3fe !important;
  transition: .4s;
  z-index: 3000 !important; }

.site .navbar-nav > .open > a:focus, .site .navbar-nav > .open > a:hover {
  background-color: transparent !important; }

.site .navbar-nav > li.dropdown a.dropdown-toggle .fa-angle-down {
  position: relative;
  bottom: -3px;
  right: 5px; }

.site .navbar-nav > li > a {
  color: #3f51b5 !important;
  font-size: 15px; }

.site .navbar-nav .dropdown-menu {
  left: auto;
  right: 0; }
  .site .navbar-nav .dropdown-menu > li > a {
    font-weight: 500;
    transition: .4s; }

.site .navbar-brand {
  position: absolute;
  background-color: transparent;
  left: 0; }
  .site .navbar-brand img {
    width: 145px;
    transition: .4s; }

a.dropdown-toggle:after {
  display: none; }

@media (max-width: 1024px) {
  .navbar-brand {
    padding-top: 5px; }
    .navbar-brand img {
      width: 105px; } }

@media (min-width: 992px) {
  .dropdown-menu {
    border: none !important;
    border-top: 2px solid #3f51b5 !important; }
    .dropdown-menu > li > a:hover {
      background-color: #56c8da !important;
      color: #fff !important; } }

@media (max-width: 992px) {
  .navbar-brand {
    right: 0;
    left: auto;
    padding-right: 25px; }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: transparent; }
  nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before {
    display: none; }
  nav.navbar.bootsnav ul.nav {
    margin-top: 20px; }
    nav.navbar.bootsnav ul.nav > li:last-child > a {
      border-bottom: none; }
    nav.navbar.bootsnav ul.nav > li a.hvr-grow:hover {
      transform: scale(1); } }

footer {
  position: relative;
  padding-top: 60px; }
  footer .blue-box {
    width: 100%;
    top: -1px;
    background-color: #3f51b5;
    height: 500px;
    z-index: 1;
    position: absolute; }
  footer > img {
    position: absolute;
    top: 0;
    z-index: 2; }
  footer .mobile-systems {
    text-align: center; }
    footer .mobile-systems a {
      padding: 20px 35px;
      border-radius: 4px;
      font-weight: 700;
      font-size: 21px; }
      footer .mobile-systems a.blue {
        background-color: #3f51b5;
        color: #ffae0d;
        margin-left: 15px; }
      footer .mobile-systems a.yellow {
        padding: 20px 52px;
        border: 1px solid #3f51b5;
        color: #3f51b5; }
  footer .intro {
    margin-top: 42px;
    background-color: #ffae0d;
    z-index: 3;
    position: relative; }
    footer .intro .container {
      margin-top: 20px; }
      footer .intro .container .part-1 h4 {
        font-weight: 700;
        font-size: 23px;
        text-align: center;
        color: #1e325e; }
        footer .intro .container .part-1 h4:nth-child(1) {
          margin-top: 30px;
          margin-bottom: 50px; }
      footer .intro .container .part-1 .or {
        margin-top: 30px;
        margin-bottom: 50px; }
    footer .intro .form-group input {
      width: 290px !important;
      font-size: 15px;
      padding: 5px 10px;
      height: 50px;
      border: 1px solid #1e325e;
      background-color: #ffae0d;
      color: #1e325e;
      margin-left: 20px; }
      footer .intro .form-group input::placeholder {
        color: #1e325e;
        font-weight: 700; }
    footer .intro .form-group button {
      width: 160px;
      font-size: 15px;
      height: 50px;
      font-size: 19px;
      background-color: #ffae0d;
      border: 1px solid #1e325e;
      color: #1e325e;
      font-weight: 700; }
  footer .section-2 {
    padding-bottom: 35px;
    background-color: #1e325e;
    z-index: 3;
    position: relative; }
    footer .section-2 h3 {
      color: #29b6f6;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 65px;
      font-weight: 700; }
    footer .section-2 .social-media {
      width: 100%; }
      footer .section-2 .social-media .column {
        width: 20%;
        background-color: #1e325e;
        border: 2px solid #ffae0d;
        position: relative;
        transition: .4s; }
        footer .section-2 .social-media .column:first-child {
          border-right: none; }
        footer .section-2 .social-media .column:last-child {
          border-left: none; }
        footer .section-2 .social-media .column img {
          width: 45px;
          margin: 25px;
          transition: .4s; }
          footer .section-2 .social-media .column img.blue {
            position: absolute;
            opacity: 0;
            transition: .4s; }
        footer .section-2 .social-media .column:hover {
          background-color: #ffae0d; }
          footer .section-2 .social-media .column:hover .yellow {
            opacity: 0; }
          footer .section-2 .social-media .column:hover .blue {
            opacity: 1; }
    footer .section-2 .companies {
      margin-top: 50px; }
      footer .section-2 .companies h5 {
        text-align: center;
        color: #fff;
        margin-top: 15px; }
    footer .section-2 .info {
      margin-top: 50px; }
      footer .section-2 .info .svg-inline--fa {
        color: #ffae0d;
        font-size: 35px;
        margin-right: 30px; }
      footer .section-2 .info span {
        color: #29b6f6;
        margin-right: 10px;
        font-size: 25px; }
  footer .copyright {
    padding: 20px 0; }
    footer .copyright h3 {
      font-size: 16px;
      font-weight: 700;
      color: #1e325e; }

@media (max-width: 1200px) {
  footer .part-2 img {
    width: 200px;
    margin: auto;
    display: block;
    margin-top: 70px; }
  footer .section-2 .companies h5 {
    font-size: 13px; } }

@media (max-width: 992px) {
  footer .intro .form-group input {
    margin: auto; }
  footer .intro .container .part-1 .or {
    margin-bottom: 30px; }
  footer .intro .container .part-1 h4 {
    font-size: 18px;
    line-height: 40px; }
  footer .copyright {
    padding: 20px 0;
    background-color: #1e325e; }
    footer .copyright h3 {
      margin: 0;
      color: #fff !important; } }

@media (max-width: 410px) {
  footer .intro {
    margin-top: 0; }
    footer .intro .form-group input {
      width: 100% !important; }
    footer .intro .form-group button {
      font-size: 15px;
      width: 100%; } }

@media (max-width: 353px) {
  footer .mobile-systems a {
    width: 100%;
    display: block; }
    footer .mobile-systems a.blue {
      margin-top: 10px; } }

.banner {
  position: relative;
  overflow: hidden;
  padding-bottom: 180px;
  background-color: #252f6a; }
  .banner > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

.registration {
  background-color: #fff;
  padding: 48px 0px;
  border-radius: 10px;
  margin-top: 130px;
  margin-left: 80px; }
  .registration ul {
    text-align: center;
    margin-bottom: 75px; }
    .registration ul li {
      width: 130px; }
  .registration .selector-box.top-icon {
    width: 80%;
    margin: 0 10%; }
  .registration .form-group.top-icon {
    width: 180px;
    margin: auto; }
  .registration .top-icon img {
    width: 40px;
    position: absolute;
    top: -25px;
    right: 30px; }
  .registration select,
  .registration input {
    padding: 10px;
    padding-top: 15px;
    border: 1px solid #a9a9a9;
    border-radius: 5px 5px 0 0; }
  .registration input {
    margin-top: 35px;
    height: 54px;
    margin-top: 35px; }
  .registration select {
    width: 100%; }
  .registration button {
    margin: auto;
    display: block;
    width: 195px;
    font-size: 20px;
    margin-top: 35px;
    padding: 15px 9px;
    background-color: #29b6f6;
    border-color: #29b6f6; }
  .registration .selector-box {
    position: relative;
    font-weight: 500;
    color: #a9a9a9; }
    .registration .selector-box .svg-inline--fa {
      position: absolute;
      background-color: #fff;
      left: 5px;
      height: 22px;
      top: 20px;
      width: 35px;
      color: #a9a9a9;
      padding-left: 6px; }

.all-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.all-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.s-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  border-radius: 3px;
  height: 40px;
  background-color: #eee; }
  .s-checkmark:before {
    position: absolute;
    color: #fff;
    right: 0;
    left: 0;
    text-align: center; }
  .s-checkmark.driver:before {
    content: "راننده هستم";
    font-size: 16px;
    top: 7px; }
  .s-checkmark.dispatch:before {
    content: "صاحب مرسوله هستم";
    font-size: 11px;
    top: 12px; }
  .s-checkmark.traveler:before {
    content: "مسافر هستم";
    font-size: 16px;
    top: 7px; }

.all-radio input ~ .s-checkmark {
  background-color: #3f51b5; }

.all-radio input:checked ~ .s-checkmark {
  background-color: #fff;
  box-shadow: 0px 0px 10px #000; }
  .all-radio input:checked ~ .s-checkmark:before {
    color: #3f51b5; }

.titled .content {
  z-index: 2;
  position: relative;
  padding-bottom: 50px; }
  .titled .content h3 {
    position: absolute;
    font-weight: 600; }
    .titled .content h3:after {
      content: "";
      position: absolute;
      width: 100px;
      height: 1px;
      bottom: -20px;
      right: 0;
      left: 0;
      margin: auto; }
  .titled .content.orange {
    background-color: #ffae0d; }
    .titled .content.orange h3 {
      color: #4251b5;
      left: 10%;
      top: -100px; }
      .titled .content.orange h3:after {
        background-color: #4251b5;
        width: 160px;
        bottom: -25px;
        right: -20px; }
  .titled .content.blue {
    background-color: #3f51b5;
    padding-top: 90px; }
    .titled .content.blue h3 {
      color: #ffae0d;
      right: 12%;
      top: 30px; }
      .titled .content.blue h3:after {
        background-color: #ffae0d;
        width: 135px;
        bottom: -20px;
        right: auto;
        left: -29px;
        display: block; }

.about-landing {
  position: relative; }
  .about-landing img {
    position: absolute;
    top: -130px;
    width: 100%; }
  .about-landing p {
    margin-top: 25px;
    font-weight: 500;
    line-height: 40px;
    padding: 0 130px; }

.skills .skill {
  background-color: #fff;
  padding: 21px;
  border-radius: 8px;
  margin: 15px;
  text-align: center;
  margin-top: 44px;
  padding-bottom: 80px;
  position: relative;
  box-shadow: 0px 0px 20px #444444; }
  .skills .skill img {
    width: 50px;
    margin: auto;
    display: block;
    margin-bottom: 25px;
    height: 60px; }
  .skills .skill h4 {
    text-align: center;
    color: #29b6f6;
    font-weight: 600;
    font-size: 17px; }
  .skills .skill p {
    font-size: 14px;
    line-height: 24px;
    position: absolute;
    width: 80%;
    right: 0;
    left: 0;
    margin: 0 10%;
    color: #7d7d7d; }

#owl-one .owl-nav {
  display: none; }

.with-you {
  text-align: center;
  padding: 65px 0;
  font-size: 35px;
  color: #000;
  font-weight: 600; }
  .with-you .light {
    color: #ffae0d; }
  .with-you .dark {
    color: #3f51b5; }

@media (max-width: 1200px) {
  .registration {
    margin-left: 0; } }

@media (max-width: 992px) {
  .registration {
    margin-top: 100%; }
  .banner > img {
    width: 168%; }
  .with-you {
    font-size: 20px;
    line-height: 35px; }
  .about-landing p {
    padding: 0 30px; } }

@media (max-width: 520px) {
  .about-landing .yellow-box {
    width: 100%;
    height: 100px;
    background-color: #ffae0d;
    position: absolute;
    top: -65px; }
  .titled .content.orange h3 {
    color: #4251b5;
    left: 20%;
    top: -100px; } }

@media (max-width: 445px) {
  .registration ul li {
    margin: auto;
    height: 45px; } }

.sidenav {
  display: block;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px; }

.navbar-default .navbar-toggle {
  border: none !important; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  transition: .4s; }

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent; }
  .navbar-default .navbar-toggle:focus .icon-bar,
  .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #ffc90d; }

.sidenav .closeSideNav {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  display: block;
  color: #f65b50;
  transition-duration: .4s;
  cursor: pointer; }
  .sidenav .closeSideNav:hover {
    text-decoration: none;
    color: #3f51b5; }

.openSideNav {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  display: block;
  color: #fff;
  transition-duration: .4s;
  cursor: pointer; }
  .openSideNav:hover {
    text-decoration: none;
    color: #ffc90d; }

.main {
  transition-duration: .4s;
  margin-right: 250px; }

.sidenav .underline {
  border-bottom: 1px solid #3f51b5;
  width: 60%;
  margin: 0 auto; }

.sidenav .box {
  width: 100%;
  text-align: center;
  font-family: "irSansNum_medium";
  color: #fff;
  background-color: #3f51b5;
  border-radius: 8px;
  padding: 12px; }

.sidenav .profile-pic {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  border: solid 4px #ffae0d; }
  .sidenav .profile-pic img {
    width: 100%;
    height: auto; }

.sidenav .items {
  font-size: 18px; }
  .sidenav .items .item {
    position: relative;
    margin-bottom: 1px; }
    .sidenav .items .item a {
      color: #3f51b5;
      display: inline-block;
      padding: 10px;
      margin-right: 20px;
      transition: all ease 0.8s;
      text-decoration: none;
      width: 100%;
      z-index: 2; }
      .sidenav .items .item a.active {
        color: #fff; }
        .sidenav .items .item a.active .primary {
          display: none; }
        .sidenav .items .item a.active .secondary {
          display: inline-block; }
        .sidenav .items .item a.active:after {
          width: 100%; }
      .sidenav .items .item a .text {
        top: 3px;
        position: relative; }
      .sidenav .items .item a:after {
        content: '';
        position: absolute;
        background-color: #3f51b5;
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
        color: #fff;
        width: 0%;
        top: 0;
        right: 0;
        height: 100%;
        transition: 0.4s linear;
        z-index: -1; }
      .sidenav .items .item a:hover {
        color: #fff; }
        .sidenav .items .item a:hover .primary {
          display: none; }
        .sidenav .items .item a:hover .secondary {
          display: inline-block; }
      .sidenav .items .item a:hover:after {
        width: 100%; }
      .sidenav .items .item a .secondary {
        display: none; }
      .sidenav .items .item a .icon {
        width: 30px;
        height: 30px;
        float: right; }

nav.dashboard {
  font-family: "std_irSansNum_light"; }

.navbar-default.dashboard {
  background-color: #3f51b5;
  border-color: #3f51b5;
  border-radius: 0; }

.navbar-default.dashboard .navbar-collapse, .navbar-default .navbar-form {
  border-color: #fff; }

.dashboard .navbar-brand {
  background-color: #fff;
  color: #fff; }
  .dashboard .navbar-brand a {
    color: #fff;
    border: 1px solid #fff; }
    .dashboard .navbar-brand a:hover {
      color: #fff; }

.navbar-default.dashboard .navbar-brand {
  color: #fff;
  border: 1px solid #fff; }
  .navbar-default.dashboard .navbar-brand:hover {
    background-color: #fff;
    color: #fff;
    cursor: default; }

.navbar-default.dashboard .navbar-nav > li > a {
  color: #fff;
  transition: .4s; }

.has-icon {
  display: inline-block; }
  .has-icon:hover .icon {
    color: #ffae0d; }
  .has-icon .icon {
    width: 20px; }

.navbar-default.dashboard .navbar-nav > .active > a,
.navbar-default.dashboard .navbar-nav > .active > a:focus,
.navbar-default.dashboard .navbar-nav > .active > a:hover {
  color: #ffc90d;
  background-color: transparent; }

.navbar-default.dashboard .navbar-nav > li > a:focus,
.navbar-default.dashboard .navbar-nav > li > a:hover {
  color: #ffc90d;
  background-color: transparent; }

.navbar-default.dashboard .navbar-collapse, .navbar-default .navbar-form {
  border-color: #3f51b5; }

.s-nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 10px; }
  .s-nav a {
    transition-duration: .4s;
    color: #fff; }
    .s-nav a:hover {
      text-decoration: none;
      color: #ffae0d; }
  .s-nav ul {
    flex-basis: 100%;
    text-align: center;
    margin: 0; }
    .s-nav ul .search {
      flex-grow: 2; }
      .s-nav ul .search input {
        background-color: #29b6f6;
        border: none;
        border-radius: 5px;
        outline: none;
        padding: 10px;
        width: 100%; }
        .s-nav ul .search input::placeholder {
          color: #fff; }
    .s-nav ul.right {
      text-align: right; }
    .s-nav ul.left {
      text-align: left; }
    .s-nav ul img {
      width: 40px; }

.form-global {
  font-family: "std_irSansNum_light";
  font-weight: 300;
  position: relative;
  padding: 50px; }
  .form-global label,
  .form-global input,
  .form-global textarea {
    font-family: "std_irSansNum_light";
    font-weight: 300; }

textarea {
  resize: vertical; }

input.txtb,
textarea.txtb {
  display: block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  width: 100%;
  resize: none; }
  input.txtb::placeholder,
  textarea.txtb::placeholder {
    font-size: 12px; }
  input.txtb:active, input.txtb:focus,
  textarea.txtb:active,
  textarea.txtb:focus {
    outline: #3f51b5; }

.table-primary tbody tr td {
  font-size: 20px; }

.radio-container label {
  font-family: "std_irSansNum_ultralight";
  font-weight: 300 !important; }
  .radio-container label :first-child {
    margin-right: 22px; }
  .radio-container label img {
    height: 24px;
    position: relative;
    bottom: 5px; }

.radio-container [type='radio']:checked,
.radio-container [type='radio']:not(:checked) {
  position: absolute;
  right: -9999px; }

.radio-container [type='radio']:checked + label,
.radio-container [type='radio']:not(:checked) + label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  color: #000; }

.radio-container [type="radio"]:checked + label:before,
.radio-container [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff; }

.radio-container [type="radio"]:checked + label:after,
.radio-container [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #ffae0d;
  position: absolute;
  top: 4px;
  right: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.radio-container [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

.radio-container [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.choosebox-wrapper {
  position: relative; }
  .choosebox-wrapper .chooseBox {
    background-image: url("img/icons/form/flesh-01.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition-duration: .4s; }
    .choosebox-wrapper .chooseBox:focus {
      outline: none;
      border: 1px solid #3f51b5;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
  .choosebox-wrapper .show {
    display: block; }
  .choosebox-wrapper .choosebox-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    min-width: 100%;
    z-index: 10000000000000000000; }
    .choosebox-wrapper .choosebox-content a {
      color: black;
      border-bottom: 1px solid #ffae0d;
      padding: 12px 16px;
      text-decoration: none;
      display: block; }
      .choosebox-wrapper .choosebox-content a:last-child {
        border-bottom: none; }
      .choosebox-wrapper .choosebox-content a:hover {
        background-color: #f1f1f1; }

.choose-group {
  font-family: "irSansNum_light";
  display: flex;
  flex-direction: row;
  list-style-type: none; }
  .choose-group span {
    position: relative; }
    .choose-group span img.choose-arrow {
      width: 10px;
      position: absolute;
      left: 5px;
      top: 9px;
      z-index: 100000000000000; }
  .choose-group .block {
    width: 100%;
    padding: 0; }
  .choose-group .choose {
    border-radius: 5px;
    outline: none;
    position: relative;
    width: 100%; }
    .choose-group .choose:active, .choose-group .choose:focus {
      outline: #3f51b5; }

.up-wrapper {
  position: relative;
  overflow: hidden;
  display: block; }
  .up-wrapper .upload-btn {
    width: 70px;
    height: 40px;
    background-color: transparent;
    border: 1.2px solid #efefef;
    outline: none;
    background-image: url("img/icons/form/camera.png");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer; }
  .up-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer; }

.form-row {
  font-size: 16px;
  font-family: "std_irSansNum_light"; }
  .form-row button[type=submit] {
    position: relative;
    bottom: 34px; }

.form-center {
  margin: 0 auto; }

textarea {
  font-size: 14px; }

.ticket-box {
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px; }
  .ticket-box .ticket-header {
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
    .ticket-box .ticket-header p {
      margin: 0; }
  .ticket-box .ticket {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px; }
    .ticket-box .ticket.active {
      border-right: 3px solid #ffae0d;
      border-left: 3px solid #ffae0d; }

.ticket-form {
  border: 1px solid #ddd; }

.tickets .ticket {
  position: relative;
  border: none;
  padding: 0; }
  .tickets .ticket .header {
    background-color: #EFEFEF;
    padding: 10px; }
  .tickets .ticket .profile p {
    position: relative;
    right: 10px;
    top: 5px;
    font-size: 12px; }
  .tickets .ticket .ticket-date {
    direction: ltr;
    position: absolute;
    top: 25px;
    left: 25px; }
  .tickets .ticket .content {
    border: 1px solid #ddd;
    padding: 20px;
    font-size: 16px; }

.filter-box {
  border: 1px solid #ddd;
  font-family: "std_irSansNum_medium";
  padding: 10px; }
  .filter-box .underline {
    border-bottom: 1px solid #29b6f6;
    width: 60%;
    margin: 0 auto; }

.cards {
  color: #fff;
  border-radius: 5px; }
  .cards .card {
    /* Small devices (tablets, 768px and up) */
    /* Medium devices (desktops, 992px and up) */
    /* Large devices (large desktops, 1200px and up) */
    box-shadow: 1px 8px 16px -4px #888; }
    @media (min-width: 768px) {
      .cards .card {
        font-size: 12px; } }
    @media (min-width: 992px) {
      .cards .card {
        font-size: 12px; } }
    @media (min-width: 1200px) {
      .cards .card {
        font-size: 23px; } }
    .cards .card .content {
      height: 100%;
      background-color: #fff;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      color: #000;
      padding: 20px; }
      .cards .card .content .vh-20 {
        height: 20vh; }
      .cards .card .content .route-wrapper {
        display: flex;
        height: 100%;
        align-content: center;
        align-items: center; }
      .cards .card .content .route {
        width: 60%;
        height: 120px;
        position: relative;
        margin: 0 auto; }
        .cards .card .content .route .origin,
        .cards .card .content .route .destination,
        .cards .card .content .route .origin-region,
        .cards .card .content .route .destination-region,
        .cards .card .content .route .start-time,
        .cards .card .content .route .end-time {
          position: absolute; }
        .cards .card .content .route .origin {
          top: 5px;
          right: -8px; }
        .cards .card .content .route .destination {
          top: 5px;
          left: -15px; }
        .cards .card .content .route .origin-region {
          font-size: 12px;
          color: #aaa;
          top: 40px;
          right: -8px; }
        .cards .card .content .route .destination-region {
          font-size: 12px;
          color: #aaa;
          top: 40px;
          left: -15px; }
        .cards .card .content .route .start-time {
          top: 80px;
          right: -8px;
          direction: ltr; }
        .cards .card .content .route .end-time {
          top: 80px;
          left: -15px;
          direction: ltr; }
      .cards .card .content .route-line {
        border-bottom: 2px solid #000;
        width: 60%;
        margin: 0 auto;
        position: relative; }
        .cards .card .content .route-line:before, .cards .card .content .route-line:after {
          content: "";
          background-color: #000;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          top: -4px;
          width: 10px;
          height: 10px; }
        .cards .card .content .route-line:after {
          left: 0; }
        .cards .card .content .route-line:before {
          right: 0; }
      .cards .card .content .passenger {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; }
        .cards .card .content .passenger ul li {
          border: 1px solid #ddd;
          border-radius: 3px;
          position: relative;
          width: 30px;
          height: 30px; }
          .cards .card .content .passenger ul li:last-child {
            display: block; }
          .cards .card .content .passenger ul li img {
            height: 100%;
            position: absolute;
            left: 3px;
            top: 0; }
      .cards .card .content .utility {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; }
        .cards .card .content .utility ul {
          margin: 0;
          padding: 0;
          width: 40px; }
          .cards .card .content .utility ul li {
            display: inline-block;
            border: 1px solid #ddd;
            border-radius: 3px;
            padding: 4px;
            width: 30px;
            height: 30px; }
            .cards .card .content .utility ul li:nth-child(4), .cards .card .content .utility ul li:nth-child(3) {
              display: block; }
            .cards .card .content .utility ul li img {
              height: 100%;
              margin: 0 auto; }
    .cards .card .operation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%; }
      .cards .card .operation ul {
        justify-content: space-between;
        display: flex;
        height: 20px;
        width: 100px; }
        .cards .card .operation ul li img {
          height: 20px; }
    .cards .card .header {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: #29b6f6;
      padding: 10px; }
    .cards .card .profile-pic {
      width: 75px;
      height: 75px;
      float: right; }
    .cards .card .profile-info {
      position: relative;
      right: 10px;
      font-family: "std_irSansNum_light"; }
    .cards .card ul li {
      margin: 0;
      padding: 0; }
    .cards .card .price {
      font-family: "irSansNum_bold"; }
    .cards .card .header-center {
      position: relative;
      top: 25px; }

.star {
  width: 20px; }

.pagi-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; }

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center; }
  .pagination .pagi-box {
    border-radius: 5px;
    padding: 10px; }
  .pagination .disable,
  .pagination .default {
    background-color: #efefef; }
  .pagination .disable {
    cursor: not-allowed; }
  .pagination .active {
    background-color: #ffae0d;
    color: #fff;
    cursor: pointer; }
  .pagination .pagi-box-center {
    text-align: center; }
  .pagination .pagi-box-lg {
    width: 200px; }
  .pagination .pagi-box-md {
    width: 100px; }
  .pagination .pagi-box-sm {
    width: 50px; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 368px) {
  .cards .header {
    height: 190px; } }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cards .header {
    height: 190px; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cards .header {
    height: 200px; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cards .header {
    height: 160px; } }

.accor-wrapper {
  display: block;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 5px; }
  .accor-wrapper .counter,
  .accor-wrapper .arrow-box,
  .accor-wrapper .content {
    display: inline-block;
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 5px; }
    .accor-wrapper .counter a,
    .accor-wrapper .arrow-box a,
    .accor-wrapper .content a {
      color: #000; }
      .accor-wrapper .counter a:hover, .accor-wrapper .counter a:focus, .accor-wrapper .counter a:active,
      .accor-wrapper .arrow-box a:hover,
      .accor-wrapper .arrow-box a:focus,
      .accor-wrapper .arrow-box a:active,
      .accor-wrapper .content a:hover,
      .accor-wrapper .content a:focus,
      .accor-wrapper .content a:active {
        text-decoration: none; }
  .accor-wrapper .counter {
    display: inline-block;
    background-color: #f5f5f5;
    padding: 5px 20px;
    border-left: 3px solid #fff; }
  .accor-wrapper .arrow-box {
    float: left;
    background-color: #29b6f6;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #fff;
    width: 40px;
    text-align: center; }

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }

.table-persian {
  font-family: "irSansNum_light" !important; }

.table-responsive {
  padding: 5px; }

.table-primary {
  background: #fff;
  box-shadow: 5px 7px 16px -4px #888;
  padding: 5px; }
  .table-primary thead {
    background-color: #29b6f6;
    color: #fff; }
    .table-primary thead tr {
      border-bottom: 1px solid #888; }
      .table-primary thead tr :first-child {
        border-left: none;
        border-right: none;
        width: 10px; }
      .table-primary thead tr th {
        padding: 20px;
        text-align: center;
        border-left: 3px solid #fff; }
  .table-primary tbody tr a {
    border-left: none; }
  .table-primary tbody tr :first-child {
    border-left: 1px solid #ddd; }
  .table-primary tbody tr td {
    padding: 20px;
    text-align: center; }
    .table-primary tbody tr td :first-child {
      border-left: none; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a {
  border: 1px solid #29b6f6; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover .nav-tabs {
  border: 1px solid #29b6f6;
  background-color: #29b6f6;
  color: #fff; }

.nav-tabs > li > a:hover {
  border: 1px solid #29b6f6;
  background-color: #3f51b5;
  color: #fff; }

.nav-tabs > li > a {
  border: 1px solid #29b6f6;
  text-align: center;
  min-width: 120px;
  border-radius: 4px;
  margin-left: 15px;
  transition: .4s; }

.nav-tabs {
  border-bottom: none; }

.nav-tabs > li > a {
  color: #3f51b5; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:active {
  background-color: #29b6f6;
  color: #fff; }

.tab-pane ul li {
  margin-bottom: 10px;
  line-height: 25px; }

.panel-info > .panel-heading {
  color: #fff;
  background-color: #29b6f6;
  border-color: #29b6f6; }

.panel-info {
  border-color: #29b6f6; }

.panel-danger > .panel-heading {
  color: #fff;
  background-color: #f65b50;
  border-color: #f65b50; }

.panel-danger {
  border-color: #f65b50; }

.tooltip {
  font-family: "std_irSansNum_ultralight"; }

.tooltip.top .tooltip-arrow {
  border-top-color: #29b6f6; }

.tooltip-inner {
  background-color: #29b6f6;
  max-width: 300px;
  padding: 10px; }

.container-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f51b5;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%; }

.loader {
  color: #ffc90d;
  background-color: #ffab0d;
  font-size: 90px;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  transform: translateZ(0);
  animation: load6 1.7s infinite ease, round 1.7s infinite ease; }

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.select2-container--default .select2-selection--single {
  border: 1px solid #ddd;
  direction: rtl;
  position: relative;
  z-index: 100;
  background-image: url("img/icons/form/flesh-01.png");
  background-position: 10px center;
  background-repeat: no-repeat; }

.select2-container--default .select2-selection--single {
  font-size: 17px; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: rgba(0, 191, 255, 0.4);
  color: #3f51b5; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #29b6f6;
  color: #fff; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  direction: rtl; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none; }

.select2-container--default .select2-results > .select2-results__options {
  direction: rtl; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  left: 1px; }

#toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  z-index: 10000;
  left: 0;
  right: 0;
  bottom: 50%;
  font-size: 17px;
  white-space: nowrap; }
  #toast.danger {
    background-color: #e74c3c; }
    #toast.danger #img {
      background-color: #3F51B5; }
  #toast.success {
    background-color: #16a085; }
    #toast.success #img {
      background-color: #3F51B5; }

#toast #img {
  width: 50px;
  height: 50px;
  font-size: 30px;
  float: right;
  padding-top: 10px;
  padding-bottom: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  color: #ffc90d; }

#toast #desc {
  color: #fff;
  padding: 16px;
  overflow: hidden;
  white-space: nowrap; }

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s; }

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 50%;
    opacity: 1; } }

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 50%;
    opacity: 1; } }

@-webkit-keyframes expand {
  from {
    min-width: 50px; }
  to {
    min-width: 350px; } }

@keyframes expand {
  from {
    min-width: 50px; }
  to {
    min-width: 350px; } }

@-webkit-keyframes stay {
  from {
    min-width: 350px; }
  to {
    min-width: 350px; } }

@keyframes stay {
  from {
    min-width: 350px; }
  to {
    min-width: 350px; } }

@-webkit-keyframes shrink {
  from {
    min-width: 350px; }
  to {
    min-width: 50px; } }

@keyframes shrink {
  from {
    min-width: 350px; }
  to {
    min-width: 50px; } }

@-webkit-keyframes fadeout {
  from {
    bottom: 50%;
    opacity: 1; }
  to {
    bottom: 60px;
    opacity: 0; } }

@keyframes fadeout {
  from {
    bottom: 50%;
    opacity: 1; }
  to {
    bottom: 60px;
    opacity: 0; } }

#preload {
  display: none; }

.badge-primary {
  background-color: #3f51b5 !important; }

.badge-lg {
  padding: 15px 30px !important;
  font-size: 23px;
  color: #fff; }

.badge {
  background-color: #29b6f6;
  border-radius: 2px;
  padding: 4px; }

.modal-header-fixer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: -1px; }

.line {
  border: 0;
  border-radius: 3px;
  border-top: 1px solid #888; }

.profile-pic {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: solid 4px #ffae0d; }
  .profile-pic.inline-pic {
    float: right; }
  .profile-pic.centered {
    margin: 0 auto; }
  .profile-pic img {
    width: 100%;
    height: auto; }

.panel-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  font-size: 16px;
  box-shadow: 1px 8px 16px -4px #888; }
  .panel-box.xs {
    min-height: 100px; }
  .panel-box.sm {
    min-height: 150px; }
  .panel-box.lg {
    min-height: 250px; }
  .panel-box.panel-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer; }
    .panel-box.panel-link .text {
      font-size: 16px;
      font-family: "std_irSansNum_bold";
      color: #3f51b5; }
      .panel-box.panel-link .text.slim {
        font-family: "std_irSansNum_medium"; }
  .panel-box.activated {
    background-image: linear-gradient(#ffc90d, #ffab0d); }
    .panel-box.activated .text {
      color: #fff; }
  .panel-box .side-left {
    left: 0; }
  .panel-box .side-right {
    right: 0; }
  .panel-box .side-left,
  .panel-box .side-right {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 25px;
    height: 100%;
    background-color: #ffae0d;
    background-image: linear-gradient(#ffc90d, #ffab0d);
    z-index: 100;
    content: " "; }
  .panel-box .footer {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 25px;
    background-color: #3f51b5;
    z-index: 100;
    content: " "; }
    .panel-box .footer.footer-right {
      background-image: linear-gradient(to right, #31bef4, #1983ec); }
    .panel-box .footer.footer-center {
      background-image: radial-gradient(#1983ec, #31bef4); }
    .panel-box .footer.footer-left {
      background-image: linear-gradient(to left, #31bef4, #1983ec); }
  .panel-box .title {
    font-size: 23px; }
  .panel-box .title-md {
    font-size: 16px; }
  .panel-box .title,
  .panel-box .title-md {
    display: inline-block;
    border: 0;
    border-radius: 3px;
    border-bottom: 2px solid #3f51b5;
    padding: 20px; }
  .panel-box .pic-left {
    position: absolute;
    left: 20px;
    top: 10%;
    height: 80%; }
    @media screen and (max-width: 1200px) {
      .panel-box .pic-left {
        display: none; } }
  .panel-box .pic-sm {
    width: 50px;
    height: 50px; }
  .panel-box .pic-md {
    width: 80px;
    height: 80px; }

.copyright {
  background-color: #efefef;
  padding: 10px;
  font-weight: 500; }
  .copyright li {
    font-size: 16px;
    font-weight: 900; }
    .copyright li::after {
      content: ' | ';
      margin-right: 3px;
      color: #3f51b5; }
    .copyright li:last-child::after {
      content: '';
      margin-right: 0; }
  .copyright a {
    font-size: 12px; }
  .copyright a,
  .copyright li {
    color: #3f51b5;
    transition-duration: .4s; }
    .copyright a:hover, .copyright a:focus, .copyright a:active,
    .copyright li:hover,
    .copyright li:focus,
    .copyright li:active {
      color: #f65b50; }

.icn-sm {
  font-size: 10px;
  width: 15px; }

.icn-danger {
  color: #f65b50; }

.fa-num {
  font-family: "irSansNum_light" !important; }

/* Customize the label (the container) */
.checkmark-wrapper {
  display: block;
  position: relative;
  padding-right: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: "std_irSansNum_ultralight";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.checkmark-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  transition-duration: .4s;
  top: 5px;
  right: 0;
  height: 15px;
  width: 15px;
  background-color: #eee; }

/* On mouse-over, add a grey background color */
.checkmark-wrapper:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.checkmark-wrapper input:checked ~ .checkmark {
  background-color: #2196F3; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  transition-duration: .4s; }

/* Show the checkmark when checked */
.checkmark-wrapper input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkmark-wrapper .checkmark:after {
  right: 5px;
  top: 0px;
  transition-duration: .4s;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.h-100 {
  height: 100%; }

.w-100 {
  width: 100%; }

.big-pic {
  height: 300px;
  margin: 0 auto; }

#btn-goTop {
  background-color: #3f51b5;
  color: #ffae0d;
  border: none;
  border-radius: 50%;
  display: block;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 280px;
  z-index: 99;
  outline: none;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  transition-duration: .4s; }

::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-thumb {
  background: #3f51b5;
  border-radius: 4px; }

::-webkit-scrollbar-track {
  background: #9fa8da; }

body {
  scrollbar-face-color: #f65b50;
  scrollbar-track-color: #fbada8; }

/*# sourceMappingURL=main.css.map */