// Font Sizes
$font-size-small: 12px;
$font-size-normal: 16px;
$font-size-large: 23px;
$font-size-xlarge: 36px;

// font weights
$ultralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$ultra-bold: 900;

// radius size
$radius-size: 3px;
